@page "/product"
@inject ILogger<Products> logger;
@inject IProductService productService

<PageTitle>Products</PageTitle>
<ModuleTitle title="Productos"></ModuleTitle>

@if (products?.Count > 0)
{
    <div class="products-container">
        @foreach (var product in products)
        {
            <div class="card">
                <img src="@product.GetFirstImageUrl()" class="card-img-top" alt="@product.title">
                <div class="card-body">
                    <h5 class="card-title">@product.title</h5>
                    <p class="card-text">@product.price?.ToString("C")</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProductos();
    }
}
